.controls {
    width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 50px;
    font-size: 17px;
}

table {
    width: 650px;
    margin: 0 auto;
    margin-top: 20px;
}

.table-placeholder {
    width: 650px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.table td,
.table th {
    border-right: 1px solid rgba(0, 0, 0, .12);
    width: 100px;
    padding-left: 15px;
    font-size: 17px;
}

.table th:last-child {
    border-right: none;
}

.table th {
    background-color: #CCCCCC;
}

.sorting:hover {
    cursor: pointer;
}