<div class='controls'>

  <!-- Date pickers and filter button -->
  <div>
    <mat-form-field>
      <input [formControl]="startDate" matInput [matDatepicker]="picker1" placeholder="Дата с:">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input [formControl]="endDate" matInput [matDatepicker]="picker2" placeholder="Дата по:">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="example-button-row">
    <button mat-raised-button color="primary" [disabled]="!(startDate.value && endDate.value)"
      (click)="getInfo()">Фильтровать</button>
  </div>

</div>

<!-- Table to show search currency results -->
<table mat-table [dataSource]="dataSource" class="table mat-elevation-z9">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef (click)="sortData('date')" [class.sorting]="dataSource.length"></th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="usd">
    <th mat-header-cell *matHeaderCellDef (click)="sortData('usd')" [class.sorting]="dataSource.length"> USD </th>
    <td mat-cell *matCellDef="let element"> {{element.usd}} </td>
  </ng-container>

  <ng-container matColumnDef="eur">
    <th mat-header-cell *matHeaderCellDef (click)="sortData('eur')" [class.sorting]="dataSource.length"> EUR </th>
    <td mat-cell *matCellDef="let element"> {{element.eur}} </td>
  </ng-container>

  <ng-container matColumnDef="gbp">
    <th mat-header-cell *matHeaderCellDef (click)="sortData('gbp')" [class.sorting]="dataSource.length"> GBP </th>
    <td mat-cell *matCellDef="let element"> {{element.gbp}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<div *ngIf = "!dataSource.length" class="table-placeholder">Выберите период</div>